APP_KEY=NKrg2knpMSj68xbsrud8xdgeVY3xBbSv
ENVIRONMENT=development
DB_HOST=db
DB_NAME=erp
DB_PASSWORD=erp
DB_USER=root

TIMEZONE=America/Sao_Paulo


BASE_DIR=/app/

BANK_INTER_PEM=${BASE_DIR}erp-inter.pem
BANK_INTER_KEY=${BASE_DIR}erp-inter.key
BANK_INTER_ACCOUNT=84806796
BANK_INTER_CERTICATE_PASSWORD=85914d23919a

BANK_INTER_PDF_FILES=temp/

DISCORD_EXCEPTIONS=https://discord.com/api/webhooks/783155960201347072/TN1yr1WndAI9Ug9vuDxb_qUQOnERJ8qs_XmzUOwYLUM35pRDdE5CJl3qfxxSjezIEZQh
DISCORD_HOOK=https://discord.com/api/webhooks/783101033672605698/d61CeThzLZcUHI_N7NBcIM1qTEF6HLgNw7gO8CAqhKVmuy_6BEHAMUW1nbEYOgev6Nyu